.tag-wrapper {
    background: #bbb;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 2px 3px;
}

.tag-wrapper:hover {
    opacity: 0.8;
    text-decoration: none;
}

.post-title a:hover {
    text-decoration: none;
    color: #f90;
}


.sidebar-heading 
{
    font-family: "Abril Fatface", serif;
}

/* for archive page */

.archive .month {
    width: 10%;
    vertical-align: top;
    color: #9a9a9a;
}

.archive .archive-post-title {
    width: 88%;
    line-height: 25px;
}

.archive div {
    display: inline-block;
}

.archive li {
    list-style: none;
}

.post {
    margin-bottom: 2em;
}

.tag-summary-title{
    margin-bottom: 1em;
}