---
layout: default
---

<h1 class="tag-summary-title">{{ page.tag }}</h1>

<div class="posts">
    {% for post in site.tags[page.tag] %}
    <div class="post">
        <h3 class="post-title">
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
        </h3>
        <div class="post-info">
            <div class="post-info-detail">
                <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
                <div class="tag-list">
                    {% for tag in post.tags %} <a class="tag-wrapper" href="/tags/{{ tag }}" rel="tooltip" title="View posts tagged with &quot;{{ tag }}&quot;"><span class="tags">{{ tag }}</span></a> {% if forloop.last != true %} {% endif %} {% endfor %}
                </div>
            </div>
            {% if post.subtitle %}
                <p class="post-subtitle">
                    {{ post.subtitle }}
                </p>
            {% endif %}
        </div>
    </div>
    <hr />
    {% endfor %}
</div>